@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.c-about-dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:rgba(0,0,0,0.3);
    
    > div {
        max-width: 400px;
    }
}

.c-is-dialog-hidden {
    display: none;
}

[draggable] {
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#tasklist {
    padding: 48px inherit;
}